<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>authenticateServlet</servlet-name>
    <servlet-class>com.google.gwt.sample.webserver.server.AuthenticateImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getDeviceServlet</servlet-name>
    <servlet-class>com.google.gwt.sample.webserver.server.GetAllDeviceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getDetailServlet</servlet-name>
    <servlet-class>com.google.gwt.sample.webserver.server.GetDeviceDetailImpl</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>getDeviceServlet</servlet-name>
    <url-pattern>/webserver/getDevice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>authenticateServlet</servlet-name>
    <url-pattern>/webserver/authenticate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getDetailServlet</servlet-name>
    <url-pattern>/webserver/details</url-pattern>
  </servlet-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>WebServer.html</welcome-file>
  </welcome-file-list>

</web-app>
